# !pip install pandas
Assignment on Store_sales dataset

**Load the Dataset**

In [2]:
import pandas as pd
df=pd.read_csv("store_sales.csv")
print(df)

   store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
0       S_1       Texas    8   20   13   21   17   20    24   17   16    9
1       S_2  California   12   19   15   15   11   19     7   15   10   11
2       S_3  California   16   16   14   19   23    6    13   13   15   14
3       S_4       Texas    8   18   13   10   14   14     6    8    8   18
4       S_5       Texas   19    5   24    9    5   24    10    5   24   15
..      ...         ...  ...  ...  ...  ...  ...  ...   ...  ...  ...  ...
95     S_96       Texas    7   10   20   20   10   15    15   21   15    7
96     S_97  California   13    6    7   15   22   10    21   23   10    6
97     S_98       Texas   16    9    6   14   20   13    11   10    8   22
98     S_99     Arizona   18   16    9    5   12   22    11   13   21   17
99    S_100  California    5   23   17   24   15   21    19   10   12   20

    Nov  Dec
0     7    6
1    21   19
2    24    8
3     7   11
4     6   13
..  ...  ...
95   23   22
96   12    9
97   17   22
98   19   10
99    5    9

[100 rows x 14 columns]

**Calculate the total sales for each store across all months.**

In [3]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
print(df[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [4]:
monthly_averages = df.iloc[:, 2:].mean()
print(monthly_averages)

Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total_Sales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [6]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
sorted_df = df.sort_values(by='Total_Sales', ascending=False)
highest_sales_store = sorted_df.iloc[0]
print(highest_sales_store)

store_id             S_86
city           California
Jan                    15
Feb                    23
Mar                    24
Apr                    18
May                    21
Jun                    17
July                   23
Aug                    13
Sep                    12
Oct                    11
Nov                    24
Dec                    13
Total_Sales           642
Name: 85, dtype: object

**Calculate the total sales for each city.**

In [7]:
city_sales = df.groupby('city')['Total_Sales'].sum()
print(city_sales)

city
Arizona       11853
California    22566
Texas         17817
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [8]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
ans= df[df['Total_Sales'] > 200]
print(ans)

   store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
0       S_1       Texas    8   20   13   21   17   20    24   17   16    9
1       S_2  California   12   19   15   15   11   19     7   15   10   11
2       S_3  California   16   16   14   19   23    6    13   13   15   14
3       S_4       Texas    8   18   13   10   14   14     6    8    8   18
4       S_5       Texas   19    5   24    9    5   24    10    5   24   15
..      ...         ...  ...  ...  ...  ...  ...  ...   ...  ...  ...  ...
95     S_96       Texas    7   10   20   20   10   15    15   21   15    7
96     S_97  California   13    6    7   15   22   10    21   23   10    6
97     S_98       Texas   16    9    6   14   20   13    11   10    8   22
98     S_99     Arizona   18   16    9    5   12   22    11   13   21   17
99    S_100  California    5   23   17   24   15   21    19   10   12   20

    Nov  Dec  Total_Sales
0     7    6          712
1    21   19          696
2    24    8          724
3     7   11          540
4     6   13          636
..  ...  ...          ...
95   23   22          740
96   12    9          616
97   17   22          672
98   19   10          692
99    5    9          720

[100 rows x 15 columns]

**Which month had the highest average sales across all stores?**

In [16]:
monthly_averages = df.iloc[:, 2:14].mean()
highest_avg_month = monthly_averages.idxmax()
print(highest_avg_month)

Aug

**Which city generated the most revenue?**

In [18]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
city_sales = df.groupby('city')['Total_Sales'].sum()
highest_revenue_city = city_sales.idxmax()
print(highest_revenue_city)

California